
- var t = importi18nJSON(LANG)

doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  title AVA UNI
  body(class='dark:bg-dark')
    include ./layouts/header.pug
    include ./components/hero.pug
    include ./components/services.pug
    include ./components/about.pug
    include ./components/team.pug
    include ./components/support.pug
    include ./components/cta.pug
    include ./layouts/footer.pug
    include ./layouts/back_to_top.pug
    //- h1=t["hello"]