- var t = importi18nJSON(LANG)

footer.wow.fadeInUp.pt-14(class='sm:pt-20 lg:pt-[130px]', data-wow-delay='.2s')
  .px-4(class='xl:container')
    .-mx-4.flex.flex-wrap
      .w-full.px-4(class='sm:w-1/2 md:w-5/12 lg:w-3/12 xl:w-3/12')
        .mb-20(class='max-w-[330px]')
          a.mb-6.inline-block(href='index.html')
            img.hidden(src='../images/logo/logo-footer.svg', alt='logo', class='h-[50px] dark:block')
            img(src='../images/logo/logo-footer.svg', alt='logo', class='h-[50px] dark:hidden')
      .w-full.px-4(class='sm:w-1/2 md:w-5/12 lg:w-3/12 xl:w-2/12')
        .mb-20
          h3.mb-9.font-heading.text-2xl.font-medium.text-dark(class='dark:text-white')
            =t["footer"].footer_item[0].title
          .space-y-7
            div
              p.font-heading.text-base.text-dark-text
                =t["footer"].footer_item[0].item[0].phone
              a.font-heading.text-base.text-dark(href='tel:+852 2323 3488', class='hover:text-primary dark:text-white dark:hover:text-primary')
                | +852 2323 3488
            div
              p.font-heading.text-base.text-dark-text
                =t["footer"].footer_item[0].item[0].email
              a.font-heading.text-base.text-dark(href='mailto:services@avauni.com', class='hover:text-primary dark:text-white dark:hover:text-primary')
                | services@avauni.com
    div(class='dark:border-[#2E333D] md:border-t')
      .-mx-4.flex.flex-wrap.py-5(class='md:py-7')
        .w-full.px-4(class='md:w-1/2 lg:w-2/3')
          .mb-5.flex.items-center.justify-center.space-x-5.border-b.pb-5(class='dark:border-[#2E333D] md:mb-0 md:justify-start md:border-0 md:pb-0')
            a.font-heading.text-base.text-dark-text(href=`${LANG === 'zh-tw' ? '/' : 'zh-tw/index.html'}`, class='hover:text-primary')
              =LANG === 'zh-tw' ? '繁體中文' : 'English'
            a.font-heading.text-base.text-dark-text(href='javascript:void(0)', class='hover:text-primary')
              | Privacy Policy
        .w-full.px-4(class='md:w-1/2 lg:w-1/3')
          div
            p.text-center.font-heading.text-base.text-dark-text(class='lg:text-right')
              | &copy; 2024 AVA UNI. All rights reserved